<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GDI Hacketine's Day</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
</head>
<body>
  <div id='homepageBox'>
    <h1>Need a reminder to keep in touch with your loved ones?</h1>
      <br>
      <a href="http://localhost:3000/users/show">Users</a>
      <br>
      <br>
      <br>
  </div>
</body>
</html>
