<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GDI Hackathon</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
</head>
<body>
<h1>FRIENDS PAGE</h1>
 <div>
      <% results.forEach(x => { %>
      <ul>
        <li>Your friend: <%= x.name %></li>
        <li>The last time you spoke to your friend: <%= x.dateLastSpoke %></li>
        <li>How often you want to speak to your friend: <%= x.frequency %></li>
        <li>Notes: <%= x.notes %></li>
      </ul>
      <br>
      <% }) %>
    </div>
</body>
</html>
